.light-bg-before:before {
  background-color: $light;
}

.stable-bg-before:before {
  background-color: $stable;
}

.positive-bg-before:before {
  background-color: $positive;
}

.calm-bg-before:before {
  background-color: $calm;
}

.balanced-bg-before:before {
  background-color: $balanced;
}

.energized-bg-before:before {
  background-color: $energized;
}

.assertive-bg-before:before {
  background-color: $assertive;
}

.royal-bg-before:before {
  background-color: $royal;
}

.dark-bg-before:before {
  background-color: $dark;
}
